* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #4A879A, #C5EDF5) no-repeat;
    background-size: cover;
}


.header {
    background-color: #4A879A;
    border-bottom: 2px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    margin-left: 1em;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

ul {
    width: 30em;
    height: 2em;
    display: flex;
    list-style: none;
    margin-right: 2em;
    justify-content: space-between;
    align-items: center;
}

li {
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

li:hover{
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

